body {
    background-color: rgb(236, 236, 234);
    font-family: 'David Libre', serif;
}

main {
    background-color: rgb(236, 215, 186);
}

.container {
    background-color: rgb(186, 238, 186);
    width: 870px;
    margin: 0 auto;
}

.top-song {
    background-color: rgb(213, 180, 243);
}

.menu {
    background-color: rgb(241, 143, 143);
    width: 870px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.music_menu {
    text-decoration: none;
}

.stihi_menu {
    text-decoration: none;
}

.news_menu {
    text-decoration: none;
}

.title-line {
    background-color: rgb(186, 238, 186);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-l {
    text-decoration: none;
    margin: 0 20px;
    padding: 0;
}

.see-all {
    text-decoration: none;
    margin: 0 20px;
    color: rgb(248, 1, 1);
}